header.header
    div.header__coloumn
        <i class="fab fa-youtube"></i>
    div.header__coloumn
        ul
            li
                a(href="#") Join
            li
                a(href="#") Log In