header.header
    div.header__coloumn
        a(href=routes.home)
            <i class="fab fa-youtube"></i>
            //- pug 방법으로 표현하면 i.fab.fa-youtube
    div.header__coloumn
        ul
            li
                a(href=routes.join) Join
            li
                a(href=routes.login) Log In
            