.social-login
    button.social-login--github
        a(href=routes.github)
            span
                i.fab.fa-github
            |Continue with Github
            //- 그냥쓰면 태그로 인식이되서 | 추가해야지 텍스트로 인식
    button.social-login--facebook
        a(href=routes.facebook)
            span
                i.fab.fa-facebook
            |Continue with Facebook
        