mixin videoBlock(item = {}) 
    .videoBlock
        video.videoBlock__thumnail(src=item.videoFile, controls = true)
        //- controls = true 해야지 재생버튼생김
        h4.videoBlock__title=item.title
        h6.videoBlcok__views=item.views